{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Task Master</h1>
    {% if tasks|length < 1 %} <h4 style="text-align: center">There are no tasks. Create one below!</h4>
        {% else %}
        <table>
            <tr>
                <th>Task</th>
                <th>Status</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        <div class="form">
            <form action="/" method="POST">
                <label for content>Content</label>
                <input title="content" placeholder="Content" type="text" name="content" id="content" />
                <select title="status" name="status" id="status">
                    <option value="todo">To Do</option>
                    <option value="todolater">To Do Later</option>
                    <option value="inprogress">In Progress</option>
                    <option value="done">done</option>
                </select>
                <input type="submit" value="Add Task">
            </form>
        </div>
</div>
{% endblock %}